@charset "UTF-8";
/* 박스블럭 중앙정렬 margin: 0 auto */
#wrap {width: 100%;height: 700px;}

/* 헤더 */
#wrap header {width: 100%;height: 100px;background:rgba(255, 255, 0, .2);z-index: 3;position: relative;}
#wrap header .wrap {width: 1200px;height: 100%;margin: 0 auto;}

#wrap header .wrap .left-box {width: 200px;height: 100%;line-height: 100px;background: rgba(255, 0, 0, .1);float: left;text-align: center;}
#wrap header .wrap .right-box {width: 1000px;height: 100%;background: rgba(0, 255, 0, .1);float: left;}

/* 헤더 네비 */
#wrap header .wrap .right-box nav {background: #ffffff;text-align: right;width: 720px;margin: 50px 0 0 auto;}
#wrap header .wrap .right-box nav .main-btn-wrap {width: 100%;display: inline-block;}
#wrap header .wrap .right-box nav .main-btn-wrap > li {float: left;font-size: 20px;background-color: rgba(0, 200, 200, .2);width: 180px;height: 50px;line-height: 50px;text-align: center;}
#wrap header .wrap .right-box nav .main-btn-wrap > li > a {display: block;width: 100%;height: 100%;position: relative;}
#wrap header .wrap .right-box nav .main-btn-wrap > li > a:hover {background: rgba(0, 0, 255, .2);color: #fff;transition: all .5s ease-in-out;}

/* 효과 */
#wrap header .wrap .right-box nav .main-btn-wrap > li > a span{display:inline-block;width:100%;position:absolute;left: 0;}
#wrap header .wrap .right-box nav > .main-btn-wrap > li > a span.en{transition: .5s;transform:rotateX(0deg)}
#wrap header .wrap .right-box nav > .main-btn-wrap > li > a:hover span.en{transition: .2s;transform:rotateX(90deg)}
#wrap header .wrap .right-box nav > .main-btn-wrap > li > a span.ko{transition: .2s;transform:rotateX(90deg)}
#wrap header .wrap .right-box nav > .main-btn-wrap > li > a:hover span.ko{transition: .5s;transform:rotateX(0deg)}

/* 네비 서브 */
#wrap header .wrap .right-box nav .main-btn-wrap li > .sub {display: none;}
#wrap header .wrap .right-box nav:hover .main-btn-wrap li > .sub {display: block;}
#wrap header .wrap .right-box nav .main-btn-wrap li > .sub ul {width: 100%;}
#wrap header .wrap .right-box nav .main-btn-wrap li > .sub ul li {width: 180px;height: 30px;line-height: 30px;text-align: center;font-size: 15px;background:rgba(255, 255, 255, .9);}
#wrap header .wrap .right-box nav .main-btn-wrap li > .sub ul li a {display: block;width: 100%;height: 100%;}
#wrap header .wrap .right-box nav .main-btn-wrap li > .sub ul li a:hover {background: rgba(0, 0, 0, .1);}


/* 메인 */
#wrap main {width: 1200px;height: 500px;margin: 0 auto;text-align: center;z-index: 2;position: relative;}
#wrap main .wrap {width: 100%;height: 100%;height: 100%;}

/* 메인 섹션1 */
#wrap main .wrap #section1 {width: 1200px;height: 300px;line-height: 300px;background: rgba(0, 0, 255, .1);}

/* 메인 섹션2 */
#wrap main .wrap #section2 {width: 1200px;height: 200px;line-height: 200px;background: rgba(0, 0, 255, .2);}
#wrap main .wrap #section2 .content .left-box {width: 33.333%;height: 100%;background: rgba(0, 0, 255, .1);float: left;}
#wrap main .wrap #section2 .content .center-box {width: 33.333%;height: 100%;background: rgba(0, 0, 255, .2);float: left;}
#wrap main .wrap #section2 .content .right-box{width: 33.333%;height: 100%;background: rgba(0, 0, 255, .3);float: left;}



/* 푸터 */
#wrap footer {width: 100%;height: 100px;background: rgba(255, 0, 0, .2);z-index: 3;position: relative;}
#wrap footer .wrap {width: 1200px;height: 100%;margin: 0 auto;text-align: center;}

#wrap footer .wrap .left-box {width: 200px;height: 100%;line-height: 100px;float: left;background: rgba(255, 0, 0, .1);}

#wrap footer .wrap .right-box {width: 1000px;height: 100%;float: left;background: rgba(255, 0, 0, .2);}
#wrap footer .wrap .right-box .content .top-box {width: 100%;height: 50px;line-height: 50px;background: rgba(255, 0, 0, .1);}
#wrap footer .wrap .right-box .content .bottom-box {width: 100%;height: 50px;line-height: 50px;background: rgba(255, 0, 0, .2);}